<html>
    <head>

        <h1>
            Profil
        </h1>
    
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
    </head>

<body>

    <table>
        <button id="submituser" onclick= "deleteuser()">Delete Your User</button>
        <button id="logoutuser" onclick= "logout()">Log Out</button>
        <button id="getuser" onclick= "getuser()">Se overblik over din profil</button>
    </table>
    
</body>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=../controller/profile.js></script>

</html>
